<header class="site-header">

    {% include kpc_logo.svg %}
    <h1>
	<a href="/">Desert Archaic</a>
        <span>Gallery & Press</span>
    </h1>
	<br/>
	<p>324 Broadway <br/>
	Truth or Consequences<br/>
	New Mexico, 87901</p>
	<br/>
	<p>
		<a href="https://instagram.com/desertarchaic">instagram</a>
		<a href="https://facebook.com/desertarchaic">facebook</a>
		<a href="https://shop.intentionallyconfusing.com">shop</a>
	</p>
</header>
